<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Genre</th>
    </tr>
  </thead>

  <tbody>
    <% artists.each do |artist| %>
      <tr>
        <td><%= artist.name %></td>
        <td><%= artist.genre %></td>
     </tr>
    <% end %>
  </tbody>
</table>