<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
    </tr>
  </thead>

  <tbody>
    <% songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.artist.name %></td>
        <td><%= song.album.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>